<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- config.root %>favicon.ico">
  <% } %>
  <%- css('css/ress.css?B3') %>
  <%- css('css/menu.css?B3') %>
  <%- css('css/form.css?B3') %>
  <%- css('css/main.css?B3') %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147431281-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-147431281-1');
</script>

</head>
  <header id="top-head" class="l-header">
      <div class="p-global-header">
        <div id="mobile-head">
          <h2 class="sp__nav--heading"><img class="sp__nav--img sp__nav--img--head sp_only" src="<%- config.root %>images/logo-el-red.png" alt="el barco" width="30"></h2>
          <div id="nav-toggle" class="nav-toggle">
            <div>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
        <nav id="global-nav" class="p-header-nav">
          <ul>
            <li><a href="<%- config.root %>">HOME</a></li>
            <li><a href="<%- config.root %>about">ABOUT</a></li>
            <li><a href="<%- config.root %>menu">MENU</a></li>
            <li><a href="<%- config.root %>drink">DRINK</a></li>
            <li><a href="<%- config.root %>contact">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </header>
