<header id="top-head" class="l-header">
  <div class="p-global-header">
    <div id="mobile-head">
      <h2 class="sp__nav--heading"><a href="<%- config.root %>"><img class="sp__nav--img sp__nav--img--head sp_only" src="<%- config.root %>images/logo-el-red.png" alt="el barco" width="30"></a></h2>
      <div id="nav-toggle" class="nav-toggle">
        <div>
          <span></span>
          <span></span>
          <span></span>
          <span class="nav-toggle-txt">メニュー</span>
        </div>
      </div>
    </div>
    <nav id="global-nav" class="p-header-nav">
      <ul>
        <li><a href="<%- config.root %>">HOME</a></li>
        <li><a href="<%- config.root %>about">ABOUT</a></li>
        <li><a href="<%- config.root %>menu">MENU</a></li>
        <li><a href="<%- config.root %>drink">DRINK</a></li>
        <li><a href="<%- config.root %>contact">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>
<div id="content">
