

<div id="content">
  <div class="mv">
    <h1><small>Spanish</small><img src="<%- config.root %>images/logo-el.png" alt="el barco" style="width: 150px;"></h1>
    <video src="<%- config.root %>images/bg-pv.mp4" loop autoplay muted playsinline></video>
  </div>



<section class="about content">
    <div class="about--inner content--inner fadein">
      <div class="about--img content--img">
        <img src="<%- config.root %>images/about_menu.jpg" alt="about">
      </div>
      <div class="about--txt--area content--txt--area">
        <h2 class="about--heading content--heading">当店について</h2>
        <p class="about--txt content--txt">久留米のスペイン料理<br>「エルバルコ」について</p>
        <div class="more-btn"><a href="/about"><span class="btn-text">詳しくはこちら</span></a></div>
      </div>
    </div>
  </section>
  <section class="menu content">
    <div class="menu--inner content--inner fadein">
      <div class="menu--img content--img">
        <img src="<%- config.root %>images/food_menu.jpg" alt="メニュー">
      </div>
      <div class="menu--txt--area content--txt--area">
        <h2 class="menu--heading content--heading">メニュー</h2>
        <p class="menu--txt content--txt">魚介類等の素材を生かしたタパスや<br>バレンシア地方・ガリシア地方をはじめ、<br>スペイン各地の料理をご堪能ください。</p>
        <div class="more-btn"><a href="/menu"><span class="btn-text">詳しくはこちら</span></a></div>
      </div>
    </div>
  </section>
  <section class="drink content">
    <div class="drink--inner content--inner fadein">
      <div class="drink--img content--img">
        <img src="<%- config.root %>images/drink_menu.jpg" alt="ドリンク">
      </div>
      <div class="drink--txt--area content--txt--area">
        <h2 class="drink--heading content--heading">ドリンク</h2>
        <p class="drink--txt content--txt">サングリア・スペインビール・スペインワイン他、各種取り揃えております。<br>スペインのワインカクテルをぜひお楽しみください。</p>
        <div class="more-btn"><a href="/drink"><span class="btn-text">詳しくはこちら</span></a></div>
      </div>
    </div>
  </section>


